<div data-role="view" id="home">
    <div data-role="header">
        <div data-role="navbar">
            <span class="txtSpan">Example Listview</span>
            <a data-role="button" data-align="right" data-icon="popup" data-rel="popover" href="#popover"></a>
        </div>
    </div>

    <div data-role="content" >

    </div>
    
    <div data-role="popover" id="popover" data-popu="{height:50px;width:50px}">
        <div data-role="view">
            <ul data-role="listview">
                <li><label>Isabella Anderson<input type="checkbox"></label></li>
                <li><label>Josh Anderson<input type="checkbox"></label></li>
                <li><label>Linda Anderson<input type="checkbox"></label></li>
                <li><label>Oliver Anderson<input type="checkbox"></label></li>
                <li><label>James Williams<input type="checkbox"></label></li>
                <li><label>Barbara Williams<input type="checkbox"></label></li>
            </ul>
        </div>
    </div>
</div>
